 /* Box sizing rules */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /* Remove default margin */
 * {
   margin: 0;
   padding: 0;
   font: inherit;
 }
 
 /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
 ul[role="list"],
 ol[role="list"] {
   list-style: none;
 }
 
 /* Set core root defaults */
 html:focus-within {
   scroll-behavior: smooth;
 }
 
 html,
 body {
   height: 100%;
 }
 
 /* Set core body defaults */
 body {
   text-rendering: optimizeSpeed;
   line-height: 1.5;
 }
 
 /* A elements that don't have a class get default styles */
 a:not([class]) {
   text-decoration-skip-ink: auto;
 }
 
 /* Make images easier to work with */
 img,
 picture,
 svg {
   max-width: 100%;
   display: block;
 }
 
 /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
 @media (prefers-reduced-motion: reduce) {
   html:focus-within {
     scroll-behavior: auto;
   }
 
   *,
   *::before,
   *::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }



:root{
    --clr-primary-900: hsl(158, 36%, 37%);
    --clr-primary-400: hsl(30, 38%, 90%);
    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-600:  hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0,0%,100%);

    --fw-regular: 500;
    --fw-bold: 700;


    --fs-body: 0.875rem;

    --ff-primary: 'Fraunces', serif;
    --ff-secondary: 'Montserrat', sans-serif;

}

body{
  font-family: var(--ff-primary);
  display: flex;
  justify-content: center;
}






.card{
  background-color: var(--clr-neutral-100);
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  height: auto;
  border-radius: 10px;
}



.container{
  display: grid;
  place-items: center;
  align-self: center;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background-color: var(--clr-primary-400);
}



/* Card content */
.content{
  padding: 1.5em;
  display: grid;
  
}

.content h3{
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  letter-spacing: 0.3rem;
  opacity: 0.5;
}

.content h1{
  font-size: 2.2rem;
  line-height: 1;
  margin-top: 0.7rem;
}

.content > p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  opacity: 0.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.price{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  color: var(--clr-primary-900);
  margin-bottom: 1rem;
}
 .price s{
  align-self: center; 
  color: var(--clr-neutral-900);
  font-size: var(--fs-body);
  opacity: 0.5;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0;
  padding: 1em 2.5em;
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: var(--fs-body);
}

.button img{
  height: 1.2rem;
}


@media (max-width: 40em){
  .main-img img{
    content: url("images/image-product-mobile.jpg");
  }
  .main-img{
    height: fit-content;
  }
}
@media (min-width: 40em){

  .main-img > img{
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .container {
    padding: 10em;
    --max-width: 1440px;
    --container-padding: 1rem;
    max-height: 100vh;
    height: auto;
    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    }
    .card{
      max-width: 38rem;
      grid-template-columns: 1fr 1fr;
    } 
  
}